body{
    margin: 0;
    padding: 0;
    transition: 250ms ease;
   /* width: 1102px; */
}

html {
    scroll-behavior: smooth;
   /* transition:  500ms ease; */
   
  } 

/*************** HEADER *****************/

/*LEFT*/
header{
display: flex;
align-items: center;
justify-content:space-evenly;
background-color:rgb(233, 219, 197);
margin: 0;
padding: 0;
height: 60px;
position: fixed;
z-index: 5;
width: 100%;
}

header > h1 {
    font-family:sans-serif;
    font-weight: 300;
    
}

header > a {
    text-decoration: none;
    font-family: sans-serif;
    color: inherit;
}
header > a >h1 > b {
    font-weight: 100;
}
/*LEFT*/


/*MIDDLE*/
.middle{
    align-items: center;
    
}

.middle > button{
    border: 0;
    font-weight: 600;
    font-size:15px;
    background-color:rgb(233, 219, 197);
    cursor: pointer;
}

.middle > button:hover{
    background-color: gray;
    border-radius: 10px;
    transition: 250ms ease;
}
/*MIDDLE*/

/*RIGHT*/
.last{
    display: flex;
    
}
.last button {
    font-weight: 600;
    font-family: sans-serif;
    border: none;
    background-color:rgb(233, 219, 197); 
   
    cursor: pointer;
    font-size: 15px;
    
}

.last > button > img {
    width: 25px;
    height: 25px;
   transition: 250ms ease;
   padding: 5px;
    
}

.last > button > img:hover {
    
    border-radius: 48%;
    background-color: gray;
}


.last > button:nth-child(1):hover {
    background-color: gray;
    border-radius: 17px;
    transition: 250ms ease;
}

.cart-quantity {
    position: relative;
    padding-top: 1px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: gray;
    font-family: sans-serif;
    color: white;
    height: 18px;
    width: 18px;
    border-radius: 50%;
    top: -5px;
    right: 10px;
    padding-top: 1px;
    font-size: 15px;
    display: none;
}
/*RIGHT*/

/*************** HEADER *****************/

/****************  BIG IMAGE  ****************/
.big-image{
    padding-top: 60px;
    display: flex;
    justify-content: center;
    background-color: white;
   /* width: 684px;  */
    
}

.bigg-img {
   width: 1520px;
    height: 500px;
    position: absolute;
}

.texts{
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-top: 150px;
    background-color: white;
    opacity: 0.9;
    width: 600px;
    height: 200px;
    align-items: center;
   
}

.text{
    position: relative;
    z-index: 1; 
    font-family: sans-serif;
    font-weight: 600;
    
}

.text:nth-child(1){
    font-size: 50px;
}

.text:nth-child(2){
    position: relative;
    border: none;
    background-color: rgb(216, 160, 87);
    font-family: sans-serif;
    font-weight: 300;
    font-size:medium;
    width: 160px;
    height: 50px;
    opacity:1.0;
    outline: 0;
    cursor: pointer;
    margin-bottom: 15px;
    z-index: 4;
}

/****************  BIG IMAGE  ****************/

/******************** ITEMS *********************/
.our-products{
   /* margin-right: 355px; */
}

main{
    display: flex;
    position: relative;
    z-index: 3;
    justify-content: center;
    align-items: center;
    margin-top: 205px;
    font-weight: 600;
    font-family: sans-serif;
    flex-direction: column;
}

.items{
    margin-top: 100px;
    display: grid;
    justify-content: center;
    align-items:center;
    grid-template-columns: 100px 100px 100px 100px; 
   /*  grid-template-columns: 100px 100px 100px; */
    grid-template-rows:  100px 100px 100px 100px 100px; 
    grid-row-gap: 220px;
    grid-column-gap: 220px;
    margin-right: 120px; 
   /* margin-right: 500px;   */
   
}

/**** JS ****/
.item{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
    border: 2px solid gray;
    border-radius: 5px;
    width: 250px;
    height: 240px;
    box-shadow: -2px 0px 5px rgba(0, 0, 0, 0.5);
    padding-top: 10px;
   /* padding: 10px; */
    overflow: hidden;
}

.image{
    display: flex;
    width: 90px;
    height: 90px;
}

.title{
    display: flex;
    justify-content: center;
    width: 250px;
    height: 10px;
    font-size: 15px;
}

.price {
    padding-top: 17px;
}

.buy-img {
    width: 18px;
    height: 18px;
}

.buy-button{
    display: flex;
    justify-content: flex-end;
    align-self: flex-end; 
    align-items: center;
    outline: none;
    border: 0;
    font-weight: 600;
    font-size: 13px;
    height: 30px;
    background-color: rgb(233, 219, 197);
    border-bottom-left-radius: 50px;
    border-top-left-radius: 50px;
    width: 100px;
    transform: translateX(124px); 
    transition: 200ms ease;
}

.buy-button:hover{
    background-color: rgb(102, 84, 55);
}

/**** JS ****/

.item:hover .buy-button {
    transform: translateX(0px); 
  } 
/******************** ITEMS *********************/

/********** ASIDE CART **********/
.aside-cart{
    right: -420px;
    transform: translateX(180px);
    font-family: sans-serif;
    position: fixed;
    top: 0; 
    width: 420px;
    height: 100%;
    background-color:rgb(212, 180, 123);
    box-shadow: -2px 0px 5px rgba(0, 0, 0, 0.2);
    transition:  250ms ease;
    z-index: 5;
    overflow-y: auto;
    }

.top {
    padding-left: 10px;
    padding-right: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: sticky;
    top: 0;
    z-index: 5;
    background-color:inherit;
}

.aside-cart::-webkit-scrollbar {
    display: none;
  }

.delete {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 10px;
    outline: none;
    border: 0;
    border-radius: 50%;
    cursor: pointer;
    padding: 10px;
}
.delete img {
    width: 23px;
    height: 23px;
    
}

.cart-items{
    height: 10%;
}

.aside-img{
    width: 38px;
    height: 38px;
    position: fixed;
    left: 10px;
    border: 1px solid;
    border-radius: 50%;
    
}

.aside-item{
    display: flex;
    align-items: center;
    
}

.aside-price {
    position: fixed;
    right: 90px;
    font-weight: 600;
}

.aside-title{
    margin-left: 60px;
}

.quantity-btns{
    display: flex;
    position: fixed;
    right: 20px;
}

.quantity{
    width: 25px;
    background-color: inherit;
    border: none;       
}

.addition{
    height: 16px;
    width: 16px;
    background-color: white;
    opacity: 0.5;
    border: none;
    outline: none;
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 2px;
    cursor: pointer;
}

.extraction{
    height: 16px;
    width: 16px;
    background-color: white;
    opacity: 0.5;
    border: none;
    outline: none;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}



/***** BOTTOM ****/
.bottom-btns{
    margin-left: 0;
    margin-right: 0;
    bottom: 0;
   margin-top: 638px; 
    display: flex;
    justify-content: space-evenly;
    position:sticky;
    width: 100%;
    bottom: 0;
    
}     

.total-price{
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: green;
    width: 50%;
    height: 40px;
}

.close-cart-btn{
    flex:1;
    background-color: gray;
    border: none;
    outline: none;
    width: 50%;
    height: 40px;
    font-family: sans-serif;
    font-weight: 600;
    font-size: 16px;
    color: white;
    cursor: pointer;
    transition: 250ms ease;
}

.close-cart-btn:hover {
    background-color:rgb(84, 84, 84) ;
}
/***** BOTTOM ****/

.quantity{
    display: flex;
    justify-content: center;
    align-items: center;
}

/********** ASIDE CART **********/


